<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772109585505-oi0fg7aduom2b0colb4upruiq4ok05ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772109585505-oi0fg7aduom2b0colb4upruiq4ok05ss</string>
	<key>API_KEY</key>
	<string>AIzaSyBVCXRoOdz2sd7xE6U2cPwvYCt5pzoYKpc</string>
	<key>GCM_SENDER_ID</key>
	<string>772109585505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JummumCo.DemoJummumOM</string>
	<key>PROJECT_ID</key>
	<string>demojummumom</string>
	<key>STORAGE_BUCKET</key>
	<string>demojummumom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772109585505:ios:5a91f45c3c704911</string>
	<key>DATABASE_URL</key>
	<string>https://demojummumom.firebaseio.com</string>
</dict>
</plist>